/* -----------------------------------------------------------------------------

# Shop Page Styles

----------------------------------------------------------------------------- */
.product-filters {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      font-weight: 700;
      font-size: 18px;
      margin: 15px;
      border: 2px solid $text-color;
      color: #323232;
      cursor: pointer;
      padding: 8px 20px;
      border-radius: 25px;

      &.active {
        border: 2px solid $primary-color;
        background-color: $primary-color;
        color: #fff;
      }
    }
  }

  margin-bottom: 80px;
}

.single-product-item {
  margin-bottom: 30px;
}

.product-image {
  img {
    width: 90%;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  padding: 30px;
  padding-bottom: 0;
}

.single-product-item h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

p.product-price {
  span {
    display: block;
    opacity: 0.8;
    font-size: 15px;
    font-weight: 400;
  }

  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

a.cart-btn {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  background-color: $primary-color;
  color: #fff;
  padding: 10px 20px;

  i {
    margin-right: 5px;
  }
}

.single-product-img img {
  border-radius: 5px;
  box-shadow: 0 0 20px #ddd;
}

.single-product-content h3 {
  font-size: 22px;
  font-weight: 600;
}

p.single-product-pricing span {
  font-size: 18px;
  display: block;
  opacity: 0.8;
  margin-bottom: 10px;
  font-weight: 400;
}

.single-product-content p {
  &.single-product-pricing {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $text-color;
    line-height: inherit;
  }

  font-size: 15px;
  color: #555;
  line-height: 1.8;
}

input[type="number"] {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  margin-bottom: 15px;
}

.single-product-form a.cart-btn {
  margin-bottom: 15px;
}

.single-product-content h4 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 35px;
}

ul.product-share {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;

    a {
      display: block;
      color: $text-color;
      margin-right: 10px;
    }
  }
}

.single-product-content {
  margin-left: 30px;
}

table.cart-table {
  border: 1px solid #f9f9f9;
  width: 100%;
}

thead {
  border-bottom: 1px solid #eee;
}

tr.table-head-row th {
  border-right: 1px solid #efefef;
  padding: 15px;
  font-weight: 500;
  text-align: center;

  &:last-child {
    border-right: none;
  }
}

.cart-table-wrap tbody tr td {
  text-align: center;
}

td.product-image img {
  max-width: 50px;
  box-shadow: none;
  margin-bottom: 0;
}

.cart-table-wrap tbody tr td {
  border: 1px solid #efefef;
  padding: 20px 0;
  color: $text-color;
}

thead.cart-table-head tr {
  background-color: #efefef;
}

td.product-quantity input {
  margin-bottom: 0;
}

tr.table-body-row {}

td.product-remove a {
  color: $text-color;
}

.total-section table.total-table {
  border: 1px solid #efefef;
  width: 100%;
}

tr.table-total-row {
  background-color: #efefef;

  th {
    font-weight: 500;
    font-size: 15px;
    padding: 15px;
  }
}

table.total-table tbody tr.total-data td {
  border: 1px solid #efefef;
  padding: 19px 15px;
}

tr.total-data td strong {
  margin-right: 32px;
}

.cart-buttons {
  margin-top: 30px;

  a:first-child {
    margin-right: 20px;
  }
}

.coupon-section {
  margin-top: 50px;

  h3 {
    font-size: 20px;
    font-weight: 500;
  }
}

.coupon-form-wrap form p input[type=text] {
  border: 1px solid #ddd;
  color: $text-color;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
}

.card.single-accordion {
  .card-header {
    background-color: #fff;
    border: none;
    padding: 0;
  }

  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  border-bottom: 1px solid #EFEFEF !important;

  .card-header h5 button {
    color: $text-color;
    font-size: 15px;
    display: block;
    width: 100%;
    text-align: left;
    padding: 20px;
    text-decoration: none;
    border: none;
    background-color: #EFEFEF;
    position: relative;
    padding-left: 50px;
    font-weight: 600;
  }
}

.card-header h5 {}

.card.single-accordion {
  border: 1px solid #F9F9F9;
}

.billing-address-form {
  form p {
    input {
      border: 1px solid #ddd;
      padding: 15px;
      width: 100%;
      border-radius: 3px;
    }

    textarea {
      width: 100%;
      border-radius: 3px;
      border: 1px solid #ddd;
      padding: 15px;
      height: 120px;
      resize: none;
    }
  }

  padding: 20px;
}

.shipping-address-form p, .card-details p {
  margin: 0;
}

.card.single-accordion .card-header h5 button:before {
  position: absolute;
  left: 20px;
  top: 50%;
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  line-height: 22px;
  margin-top: -11px;
  color: $primary-color;
}

.billing-address-form form p:last-child {
  margin-bottom: 0;
}

table.order-details {
  thead tr th {
    background-color: #efefef;
    padding: 18px;
    font-size: 15px;
    font-weight: 500;
  }

  tbody td {
    border: 1px solid #efefef;
    padding: 15px;
  }

  border: 1px solid #efefef;
}

.order-details-wrap > a {
  margin-top: 30px;
}

.card.single-accordion {
  border: 1px solid #eeeeee;
}

.single-product-item {
  box-shadow: 0 0 20px #e4e4e4;
  padding-bottom: 50px;
  border-radius: 5px;
}
