{%extends "base.html.twig"%}
{%block body%}

<!--PreLoader-->
<div class="loader">
	<div class="loader-inner">
		<div class="circle"></div>
	</div>
</div>
<!--PreLoader Ends-->

<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{{ path('app_home') }}">
								<img src="{{ asset('assets1/img/logo.png') }}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{{ path('app_home') }}">Accueil</a>
								</li>
								<li><a href="{{ path('app_about') }}">À propos</a></li>
								<li><a href="{{ path('app_produit') }}">Boutique</a>
									<ul class="sub-menu">
										<li><a href="{{ path('app_produit') }}">Produit</a></li>
										<li><a href="{{ path('app_panier_verifier') }}">Vérifier</a></li>
										<li><a href="{{ path('app_single_produits', { "id" :1}) }}">Produit spécial</a></li>
										<li><a href="{{ path('app_panier') }}">Panier</a></li>
									</ul>
								<li><a href="{{ path('app_contact') }}">Contact</a></li>
								<li><a href="{{ path('app_login') }}">Connexion</a>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="{{ path('app_panier') }}"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<span class="close-btn"><i class="fas fa-window-close"></i></span>
				<div class="search-bar">
					<div class="search-bar-tablecell">
						<h3>Rechercher pour:</h3>
						<label>
							<input type="text" placeholder="Mots clés">
						</label>
						<button type="submit">Recherche <i class="fas fa-search"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>FRAIS ET BIO</p>
						<h1>Découvrez le produit</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- check out section -->
	<div class="checkout-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
						  <div class="card single-accordion">
						    <div class="card-header" id="headingOne">
						      <h5 class="mb-0">
						        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Adresse de facturation
						        </button>
						      </h5>
						    </div>

						    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="billing-address-form">
						        	<form action="{{ path('app_home') }}" method="post">
						        		<p><label>
											<input type="text" placeholder="Noms">
										</label></p>
						        		<p><label>
											<input type="email" placeholder="Email">
										</label></p>
						        		<p><label>
											<input type="text" placeholder="Adresse">
										</label></p>
						        		<p><label>
											<input type="tel" placeholder="Téléphone">
										</label></p>
						        		<p><label for="bill"></label><textarea name="bill" id="bill" cols="30" rows="10" placeholder="Appréciation"></textarea></p>
						        	</form>
						        </div>
						      </div>
						    </div>
						  </div>
						  <div class="card single-accordion">
						    <div class="card-header" id="headingTwo">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Adresse de livraison
						        </button>
						      </h5>
						    </div>
						    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="shipping-address-form">
						        	<p>Votre formulaire d'adresse de livraison est ici.</p>
						        </div>
						      </div>
						    </div>
						  </div>
						  <div class="card single-accordion">
						    <div class="card-header" id="headingThree">
						      <h5 class="mb-0">
						        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									Détails de la carte
						        </button>
						      </h5>
						    </div>
						    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						      <div class="card-body">
						        <div class="card-details">
						        	<p>Les détails de votre carte vont ici.</p>
						        </div>
						      </div>
						    </div>
						  </div>
						</div>

					</div>
				</div>

				<div class="col-lg-4">
					<div class="order-details-wrap">
						<table class="order-details">
							<thead>
								<tr>
									<th>Détails de votre commande</th>
									<th>Prix</th>
								</tr>
							</thead>
							<tbody class="order-details-body">
								<tr>
									<td>Produit</td>
									<td>Total</td>
								</tr>
								{%for item in items %}
									<tr>
										<td>{{item.produits.libelle}}</td>
										<td>{{item.quantite * item.produits.prix}}</td>
									</tr>
								{%endfor%}
							</tbody>
							<tbody class="checkout-details">
								<tr>
									<td>Total</td>
									<td>{{ total}} FCFA</td>
								</tr>
							</tbody>
						</table>
						<a href="#" class="boxed-btn">Confirmation de la commande</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end check out section -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="{{ asset('assets1/img/company-logos/1.png') }}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{{ asset('assets1/img/company-logos/2.png') }}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{{ asset('assets1/img/company-logos/3.png') }}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{{ asset('assets1/img/company-logos/4.png') }}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{{ asset('assets1/img/company-logos/5.png') }}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->
{% endblock %}