{%extends "base.html.twig"%}
{%block body%}
<!--PreLoader-->

<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->

<!-- header -->
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a href="{{ path('app_home') }}">
                                <img src="{{ asset('assets1/img/logo.png') }}" alt="">
                            </a>
                        </div>
                        <!-- logo -->

                        <!-- menu start -->
                        <nav class="main-menu">
                            <ul>
                                <li class="current-list-item"><a href="{{ path('app_home') }}">Accueil</a>
                                </li>
                                <li><a href="{{ path('app_about') }}">À propos</a></li>
                                <li><a href="{{ path('app_produit') }}">Boutique</a>
                                    <ul class="sub-menu">
                                        <li><a href="{{ path('app_produit') }}">Produit</a></li>
                                        <li><a href="{{ path('app_panier_verifier') }}">Vérifier</a></li>
                                        <li><a href="{{ path('app_single_produits', { "id" :1}) }}">Produit spécial</a></li>
                                        <li><a href="{{ path('app_panier') }}">Panier</a></li>
                                    </ul>
                                <li><a href="{{ path('app_contact') }}">Contact</a></li>
                                <li><a href="{{ path('app_login') }}">Connexion</a>
                                </li>
                                <li>
                                    <div class="header-icons">
                                        <a class="shopping-cart" href="{{ path('app_panier') }}"><i class="fas fa-shopping-cart"></i></a>
                                        <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                        <div class="mobile-menu"></div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Rechercher pour:</h3>
                        <label>
                            <input type="text" placeholder="Mots clés">
                        </label>
                        <button type="submit">Recherche <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search area -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>FRAIS ET BIO</p>
                    <h1>Panier</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- cart -->
<div class="cart-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap">
                    {% if items  | length > 0  %}
                    <table class="cart-table">
                        <thead class="cart-table-head">
                        <tr class="table-head-row">
                            <th class="product-remove"></th>
                            <th class="product-image">Image du produit</th>
                            <th class="product-name">Nom</th>
                            <th class="product-price">Prix</th>
                            <th class="product-quantity">Quantité</th>
                            <th class="product-total">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                            {%  for item in items  %}
                            <tr class="table-body-row">
                                <td class="product-remove"><a href="{{ path('panier_remove', {'id': item.produits.id}) }}"><i class="far fa-window-close"></i></a></td>
                                <td class="product-image"><img src="./uploads/images/{{ item.produits.image}}" alt=""></td>
                                <td class="product-name">{{item.produits.libelle}}</td>
                                <td class="product-price">{{item.produits.prix}} FCFA</td>
                                <td class="product-quantity">
                                <input id="quantity" type="number"  value="{{item.quantite}}">
                                </td>
                                <td class="product-total">{{item.quantite * item.produits.prix}}</td>
                            </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6"></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                      
                </div>
            </div>
            <div class="col-lg-4">
                <div class="total-section">
                    <table class="total-table">
                        <thead class="total-table-head">
                        <tr class="table-total-row">
                            <th>Total</th>
                            <th>Prix</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="total-data">
                            <td><strong>Total: </strong></td>
                            <td id="price">{{ total }} FCFA</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="cart-buttons">
                        <a href="{{ path('app_panier_verifier') }}" class="boxed-btn black">Passer la commande</a>
                    </div>
                      {%else %}
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <div class="error-text">
                          <i class="far fa-sad-cry"></i>
                        <h1> Oops! Votre panier est vide! </h1>
                            <p>  Parcourez nos catalogues et bénéficier de nos meilleures produits!!! </p>
                    	<a href="{{ path('app_produit')  }}" class="boxed-btn">Retour à la boutique</a>
                        </div>
                     </div> 
                    {%  endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end cart -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="{{ asset('assets1/img/company-logos/1.png') }}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{{ asset('assets1/img/company-logos/2.png') }}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{{ asset('assets1/img/company-logos/3.png') }}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{{ asset('assets1/img/company-logos/4.png') }}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{{ asset('assets1/img/company-logos/5.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
/**
/Setting default attribut to disabled
document.querySelector(".minus-btn").setAttribute("disabled", "disabled");


// taking value to increment 
var valueCount

//cacul total
var price = document.getElementById("price").innerText;
// price calculation function
function priceTotal()
{
    var total = valueCount * price;
    document.getElementById("price").innerText = total
}


//plus button
document.querySelector(".plus-btn").addEventListener("click", function(){
    //gettin value of input
    valueCount = document.getElementById("quantity").value;

    //input value increment by 1
    valueCount++;

    // setting increment input value
    document.getElementById("quantity").value = valueCount
     if(valueCount > 1){
        document.querySelector(".minus-btn").removeAttribute("disabled")
        document.querySelector(".minus-btn").classList.remove("disabled")
    }

// calling function
 priceTotal()
})



//moins button
document.querySelector(".minus-btn").addEventListener("click", function(){
    //gettin value of input
    valueCount = document.getElementById("quantity").value;

    //input value increment by 1
    valueCount--;

    // setting increment input value
    document.getElementById("quantity").value = valueCount

    if(valueCount == 1){
        document.querySelector(".minus-btn").setAttribute("disabled","disabled")
    }

 // calling function
 priceTotal()
})

//cacul total
var price = document.getElementById("toto").innerText;
// price calculation function
function priceTotal()
{
    var total = valueCount * price;
    document.getElementById("price").innerText = total
}

</script>
**/
<!-- end logo carousel -->
{%endblock%}