<!DOCTYPE html>
<html lang="en">
<head>
    <title>Connexion</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="./asset/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="./asset/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="./asset/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="./asset/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="./asset/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="./asset/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="./asset/css/util.css">
    <link rel="stylesheet" type="text/css" href="./asset/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="./asset/images/img-01.png" alt="IMG">
            </div>

            <form class="login100-form validate-form" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté(é) comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnectez</a>
                    </div>
                {% endif %}
					<span class="login100-form-title">
						Connexion
					</span>

                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <label for="inputEmail">
                        <input class="input100" type="email"  value="{{ last_username }}" id="inputEmail"  autocomplete="email" required autofocus  name="email" placeholder="Email">
                    </label>
                    <span class="foccfdexwszus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <label for="inputPassword" >
                        <input class="input100" type="password" name="password"  id="inputPassword"  autocomplete="current-password" required  placeholder="Mot de pase">
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"

                        ><br>

                        {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                        #}

                    </label>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Se connecter
                    </button>
                </div>

                <div class="text-center p-t-12">
						<span class="txt1">
							Oublié?
						</span>
                    <a class="txt2" href="#">
                        Identifiant / Mot de passe?
                    </a>
                </div>

                <div class="text-center p-t-136">
                    <a class="txt2" href="{{path('app_register')}}">Inscription
                        Créez votre compte
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>




<!--===============================================================================================-->
<script src="./asset/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="./asset/vendor/bootstrap/js/popper.js"></script>
<script src="./asset/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="./asset/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="./asset/vendor/tilt/tilt.jquery.min.js"></script>
<script >
    function $() {
        $('.js-tilt').tilt({
            scale: 1.1
        })
    }


</script>
<!--===============================================================================================-->
<script src="./asset/js/main.js"></script>

</body>
</html>
