{%extends "base.html.twig"%}
{% block body %}

<!--PreLoader-->
<div class="loader">
	<div class="loader-inner">
		<div class="circle"></div>
	</div>
</div>
<!--PreLoader Ends-->

<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{{ path('app_home') }}">
								<img src="{{ asset('assets1/img/logo.png') }}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{{ path('app_home') }}">Accueil</a>
								</li>
								<li><a href="{{ path('app_about') }}">À propos</a></li>
								<li><a href="{{ path('app_produit') }}">Boutique</a>
									<ul class="sub-menu">
										<li><a href="{{ path('app_produit') }}">Produit</a></li>
										<li><a href="{{ path('app_panier_verifier') }}">Vérifier</a></li>
										<li><a href="{{ path('app_single_produits', { "id" :1}) }}">Produit spécial</a></li>
										<li><a href="{{ path('app_panier') }}">Panier</a></li>
									</ul>
								<li><a href="{{ path('app_contact') }}">Contact</a></li>
								<li><a href="{{ path('app_login') }}">Connexion</a>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="{{ path('app_panier') }}"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<span class="close-btn"><i class="fas fa-window-close"></i></span>
				<div class="search-bar">
					<div class="search-bar-tablecell">
						<h3>Rechercher pour:</h3>
						<label>
							<input type="text" placeholder="Mots clés">
						</label>
						<button type="submit">Recherche <i class="fas fa-search"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>NOUS VENDS DES DIFFERENTS TYPES DE GATEAUX</p>
						<h1>À propos de nous</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- featured section -->
	<div class="feature-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="featured-text">
						<h2 class="pb-3">Pourquoi <span class="orange-text">HOUEFFA DELICES</span></h2>
						<div class="row">
							<div class="col-lg-6 col-md-6 mb-4 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-shipping-fast"></i>
									</div>
									<div class="content">
										<h3>Livraison à domicile</h3>
										<p>Une rapidité de réception du produit grâce à la prise en charge par un transporteur professionnel ; la possibilité de suivre l'acheminement du colis sur Internet.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-money-bill-alt"></i>
									</div>
									<div class="content">
										<h3>Meilleur prix</h3>
										<p> La meilleure qualité des matières premières que nous utilisons pour réaliser nos gâteaux.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 mb-5 mb-md-5">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-briefcase"></i>
									</div>
									<div class="content">
										<h3>Boîte personnalisée</h3>
										<p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="list-box d-flex">
									<div class="list-icon">
										<i class="fas fa-sync-alt"></i>
									</div>
									<div class="content">
										<h3>Remboursement rapide</h3>
										<p> En respectant les principes de bases qu'on ces fixés avec le client .</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end featured section -->

	<!-- shop banner -->
	<section class="shop-banner">
    	<div class="container">
        	<h3>Nous lançons les promotions! <br> Avec grand <span class="orange-text">Remise...</span></h3>
            <div class="sale-percent"><span>Vente! <br> jusqu'à</span>50% <span>désactivé</span></div>
            <a href="{{ path('app_panier') }}" class="cart-btn btn-lg">Achetez maintenant</a>
        </div>
    </section>
	<!-- end shop banner -->

	<!-- team section -->
	<div class="mt-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3>Notre <span class="orange-text">Équipe</span></h3>
						<p> Nous disposons d’une équipe extraordinaire, capable de relever les grands défis du secteur et d’asseoir notre positionnement dans le pays.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-1"></div>
						<h4>La PDG <span>Pâtissière</span></h4>
						<ul class="social-link-team">
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-2"></div>
						<h4>Chargée de communication <span>Will</span></h4>
						<ul class="social-link-team">
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-team-item">
						<div class="team-bg team-bg-3"></div>
						<h4>Trésorière <span>Diane</span></h4>
						<ul class="social-link-team">
							<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end team section -->

	<!-- testimonail-section -->
	<div class="testimonail-section mt-80 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets1/img/avaters/avatar1.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Biographie de Hakim <span>Propriétaire d'une boutique locale</span></h3>
								<p class="testimonial-body">
									" La nourriture est très diversifiée et comprend un large éventail de graines, pousses, baies, fruits divers et invertébrés, dont des fourmis et termites, que ces perdrix recherchent en grattant la litière végétale"
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets1/img/avaters/avatar2.png" alt="">
							</div>
							<div class="client-meta">
								<h3>David Diop <span>Propriétaire d'une boutique locale</span></h3>
								<p class="testimonial-body">
									" Il me semble juste de penser désormais que seule la fiction, le roman d'une vie, peut donner un véritable aperçu de sa réalité profonde, de sa complexité, éclairant ses opacités, en grande partie indiscernables par la personne même qui l'a vécue. "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="assets1/img/avaters/avatar3.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Milena Jesenská
									<span>Propriétaire d'une boutique locale</span></h3>
								<p class="testimonial-body">
									" En fait de poésie, je ne suis qu'un simple amateur, mais j'ai beaucoup vécu avec les grands maîtres. Je fais plus que les goûter, je les aime passionnément, aussi bien Lucrèce que La Fontaine. Je sais donc un gré infini aux esprits délicats qui ont découvert dans le peu que j'ai écrit les traces de ce commerce et de cet amour"
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets1/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets1/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets1/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets1/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets1/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->
{%endblock%}