{%extends "base.html.twig"%}
{% block body %}


<!--PreLoader-->
<div class="loader">
	<div class="loader-inner">
		<div class="circle"></div>
	</div>
</div>
<!--PreLoader Ends-->

<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="{{ path('app_home') }}">
								<img src="{{ asset('assets1/img/logo.png') }}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{{ path('app_home') }}">Accueil</a>
								</li>
								<li><a href="{{ path('app_about') }}">À propos</a></li>
								<li><a href="{{ path('app_produit') }}">Boutique</a>
									<ul class="sub-menu">
										<li><a href="{{ path('app_produit') }}">Produit</a></li>
										<li><a href="{{ path('app_panier_verifier') }}">Vérifier</a></li>
										<li><a href="{{ path('app_single_produits', { "id" :1}) }}">Produit spécial</a></li>
										<li><a href="{{ path('app_panier') }}">Panier</a></li>
									</ul>
								<li><a href="{{ path('app_contact') }}">Contact</a></li>
								<li><a href="{{ path('app_login') }}">Connexion</a>
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="{{ path('app_panier') }}"><i class="fas fa-shopping-cart"></i></a>
										<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<span class="close-btn"><i class="fas fa-window-close"></i></span>
				<div class="search-bar">
					<div class="search-bar-tablecell">
						<h3>Rechercher pour:</h3>
						<label>
							<input type="text" placeholder="Mots clés">
						</label>
						<button type="submit">Recherche <i class="fas fa-search"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Bénéficiez d'une assistance 24h/24 et 7j/7Get 24/7 Support</p>
						<h1>Contact</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- contact form -->
	<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mb-5 mb-lg-0">
					<div class="form-title">
						<h2>Avez-vous des suggestions?</h2>
						<p> Si possible soumettez les ici!</p>
					</div>
				 	<div id="form_status"></div>
					<div class="contact-form">
						<form type="POST" id="fruitkha-contact" onSubmit="return valid_datas( this );">
							<p>
								<label for="name"></label><input type="text" placeholder="Nom" name="name" id="name">
								<label for="email"></label><input type="email" placeholder="Email" name="email" id="email">
							</p>
							<p>
								<label for="phone"></label><input type="tel" placeholder="Téléphone" name="phone" id="phone">
								<label for="subject"></label><input type="text" placeholder="Sujet" name="subject" id="subject">
							</p>
							<p><label for="message"></label><textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea></p>
							<input type="hidden" name="token" value="FsWga4&@f6aw" />
							<p><input type="submit" value="Envoyer"></p>
						</form>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="contact-form-wrap">
						<div class="contact-form-box">
							<h4><i class="fas fa-map"></i> Addresses HOUEFFA DELICES</h4>
							<p>Cocotomey <br> Pharmacie concorde. <br> 4eme von à gauche en allant womey</p>
						</div>
						<div class="contact-form-box">
							<h4><i class="far fa-clock"></i> Heures d'ouvertures</h4>
							<p>LUNDI - VENDREDI: 8h à 21h  <br> SAMEDI - DIMANCHE: 10h to 20h  </p>
						</div>
						<div class="contact-form-box">
							<h4><i class="fas fa-address-book"></i> Contact</h4>
							<p>Phone: +229 67 29 67 11 <br> Email: houeffadelice@gmail.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end contact form -->

	<!-- find our location -->
	<div class="find-location blue-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<p> <i class="fas fa-map-marker-alt"></i> Trouver notre emplacement</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end find our location -->

	<!-- google map section -->
	<div class="embed-responsive embed-responsive-21by9">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26432.42324808999!2d-118.34398767954286!3d34.09378509738966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bf07045279bf%3A0xf67a9a6797bdfae4!2sHollywood%2C%20Los%20Angeles%2C%20CA%2C%20USA!5e0!3m2!1sen!2sbd!4v1576846473265!5m2!1sen!2sbd" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" class="embed-responsive-item"></iframe>
	</div>
	<!-- end google map section -->
{% endblock %}