{%extends "base.html.twig"%}
{%block body%}
<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->

<!-- header -->
<div class="top-header-area" id="sticker">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="main-menu-wrap">
                    <!-- logo -->
                    <div class="site-logo">
                        <a href="{{ path('app_home') }}">
                            <img src="{{ asset('assets1/img/logo.png') }}" alt="">
                        </a>
                    </div>
                    <!-- logo -->

                    <!-- menu start -->
                    <nav class="main-menu">
                        <ul>
                            <li class="current-list-item"><a href="{{ path('app_home') }}">Accueil</a>
                            </li>
                            <li><a href="{{ path('app_about') }}">À propos</a></li>
                            <li><a href="{{ path('app_produit') }}">Boutique</a>
                                <ul class="sub-menu">
                                    <li><a href="{{ path('app_produit') }}">Produit</a></li>
                                    <li><a href="{{ path('app_panier_verifier') }}">Vérifier</a></li>
                                    <li><a href="{{ path('app_single_produits', { "id" :1}) }}">Produit spécial</a></li>
                                    <li><a href="{{ path('app_panier') }}">Panier</a></li>
                                </ul>
                            <li><a href="{{ path('app_contact') }}">Contact</a></li>
                            <li><a href="{{ path('app_login') }}">Connexion</a>
                            </li>
                            <li>
                                <div class="header-icons">
                                    <a class="shopping-cart" href="{{ path('app_panier') }}"><i class="fas fa-shopping-cart"></i></a>
                                    <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                    <div class="mobile-menu"></div>
                    <!-- menu end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Rechercher pour:</h3>
                        <label>
                            <input type="text" placeholder="Mots clés">
                        </label>
                        <button type="submit">Recherche <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->


<!-- home page slider -->
<div class="homepage-slider">
    <!-- single home slider -->
    <div class="single-homepage-slider homepage-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-7 offset-lg-1 offset-xl-0">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">Nous vous présentons</p>
                            <h1> HOUEFFA DELICES </h1>
                            <div class="hero-btns">
                                <a href="{{ path('app_produit') }}" class="boxed-btn">Visitez nos produits</a>
                                <a href="{{ path('app_contact') }}" class="bordered-btn">Contactez-nous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- single home slider -->
    <div class="single-homepage-slider homepage-bg-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-center">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">Disponible tous les jours</p>
                            <h1> Du naturel pour un goût unique...</h1>
                            <div class="hero-btns">
                                <a href="{{ path('app_produit') }}" class="boxed-btn">Visitez nos produits</a>
                                <a href="{{ path('app_contact') }}" class="bordered-btn">Contactez-nous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- single home slider -->
    <div class="single-homepage-slider homepage-bg-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 text-right">
                    <div class="hero-text">
                        <div class="hero-text-tablecell">
                            <p class="subtitle">Efficacite & Qualite</p>
                            <h1> Vous ne serez pas déçu. </h1>
                            <div class="hero-btns">
                                <a href="{{ path('app_produit') }}" class="boxed-btn">Visitez nos produits</a>
                                <a href="{{ path('app_contact') }}" class="bordered-btn">Contactez-nous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end home page slider -->

<!-- features list section -->
<div class="list-section pt-80 pb-80">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="content">
                        <h3>Livraison de vos commande</h3>
                        <p>Ponctualité du livreur</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-phone-volume"></i>
                    </div>
                    <div class="content">
                        <h3>Assistance 24 h/24 et 7j/7</h3>
                        <p>Bénéficiez d'une assistance toute la journée</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="list-box d-flex justify-content-start align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-sync"></i>
                    </div>
                    <div class="content">
                        <h3>Rembourser</h3>
                        <p>Obtenez un remboursement sous 3 jours !</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end features list section -->

<!-- product section -->
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Nos</span> Produits</h3>
                    <p>Sont spécialisés et demeurent reconnus pour la qualité exceptionnelle que nous proposons. </p>
                </div>
            </div>
        </div>

        <div class="row">
            {%for produit in produits%}
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="{{ path('app_single_produits', { "id" :1}) }}"><img src="../uploads/images/{{ produit.image}}" alt=""></a>
                    </div>
                    <h3>{{produit.libelle}}</h3>
                    <p class="product-price"><span>{{produit.format}}</span>{{ produit.prix }}</p>
                    <a href="{{ path('app_panier_add', {'id': produit.id} ) }}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Ajouter au panier</a>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
<!-- end product section -->

<!-- cart banner section -->
<section class="cart-banner pt-100 pb-100">
    <div class="container">
        <div class="row clearfix">
            <!--Image Column-->
            <div class="image-column col-lg-6">
                <div class="image">
                    <div class="price-box">
                        <div class="inner-price">
                                <span class="price">
                                    <strong>30%</strong> <br>de réduction
                                </span>
                        </div>
                    </div>
                    <img src="{{ asset('assets1/img/a.jpg') }}" alt="">
                </div>
            </div>
            <!--Content Column-->
            <div class="content-column col-lg-6">
                <h3><span class="orange-text">Offre</span> du mois</h3>
                <h4> viennoiseries</h4>
                <div class="text">L'offre Viennoiserie la moins chère chez Carrefour est au prix de 5000F dans le catalogue "Le bon goût à prix promo". Cette offre est valable jusqu'au 16/05/2022. Consultez en ligne le catalogue "Le bon goût à prix promo" de Carrefour à la page 11 pour retrouver l'offre Viennoiserie. Retrouvez toutes les offres Viennoiserie sur notre page dédiée aux promos Viennoiserie.</div>
                <!--Countdown Timer-->
                <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">00</span>Jours</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Heures</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Minutes</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secondes</div></div></div></div>
                <a href="{{ path('app_panier') }}" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Ajouter au panier</a>
            </div>

        </div>
    </div>
</section>
<!-- end cart banner section -->

<!-- testimonail-section -->
<div class="testimonail-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <div class="testimonial-sliders">
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="{{ asset('assets1/img/avaters/avatar1.png') }}" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>Biographie de Hakim <span>Propriétaire d'une boutique locale</span></h3>
                            <p class="testimonial-body">
                                " Mais afin que vous puissiez percevoir d'où tout cela est né de l'erreur de la vérité, et, pour ainsi dire, l'architecte de la vie bénie et ces choses qui ont été dites par cet inventeur "
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="{{ asset('assets1/img/avaters/avatar2.png') }}" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>David Nif <span>Propriétaire d'une boutique locale</span></h3>
                            <p class="testimonial-body">
                                " Mais afin que vous puissiez percevoir d'où tout cela est né de l'erreur de la vérité, et, pour ainsi dire, l'architecte de la vie bénie et ces choses qui ont été dites par cet inventeur "
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="single-testimonial-slider">
                        <div class="client-avater">
                            <img src="{{ asset('assets1/img/avaters/avatar3.png') }}" alt="">
                        </div>
                        <div class="client-meta">
                            <h3>Jacob Baise <span>Propriétaire d'une boutique locale</span></h3>
                            <p class="testimonial-body">
                                " Mais afin que vous puissiez percevoir d'où tout cela est né de l'erreur de la vérité, et, pour ainsi dire, l'architecte de la vie bénie et ces choses qui ont été dites par cet inventeur "
                            </p>
                            <div class="last-icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end testimonail-section -->

<!-- advertisement section -->
<div class="abt-section mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="abt-bg">
                    <a href="https://www.youtube.com/watch?v=3kARr7x_svU" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="abt-text">
                    <p class="top-sub">Depuis l'année 2020</p>
                    <h2>Nous sommes<span class="orange-text">HOUEFFA DELICES</span></h2>
                    <p>Une entreprise spécialisée dans la pâtisserie. Créée et dirigé par Mlle Houeffa Chancelle GNACADJA, cette entreprise est ancrée dans la réalisation des gâteaux d'anniversaire, des gâteaux de mariage, des petits fours et des viennoiseries...</p>
                    <p>Constituée d'une équipe dynamique, Houeffa délices offre des services de qualité et diverses aux clients. Elle est située à cocotomey dans la rue de la pharmacie concorde, dans la 4ᵉ von à gauche en allant à womey...</p>
                    <a href="{{ path('app_about') }}" class="boxed-btn mt-4">savoir plus</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end advertisement section -->

<!-- shop banner -->
<section class="shop-banner">
    <div class="container">
        <h3>La vente de la promotion est lancée ! <br> avec grand <span class="orange-text">Remise...</span></h3>
        <div class="sale-percent"><span>Vente! <br> Jusqu'à</span>50% <span>désactivé</span></div>
        <a href="{{ path('app_produit') }}" class="cart-btn btn-lg">Achetez maintenant</a>
    </div>
</section>
<!-- end shop banner -->

<!-- latest news -->
<div class="latest-news pt-150 pb-150">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Notre</span> Actualités</h3>
                    <p>Les gâteaux ultra réalistes de Natalie Sideserf.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="{{ path('app_single_produits', { "id" :1}) }}"><div class="latest-news-bg news-bg-1"></div></a>
                    <div class="news-text-box">
                        <h3><a href="{{ path('app_single_produits', { "id" :1}) }}">La pâtisserie et l'amour, c'est pareil - une question de fraîcheur et que tous les ingrédients, même les plus amers, tournent au délice.</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Administrateur</span>
                            <span class="date"><i class="fas fa-calendar"></i> 18 Mars, 2022</span>
                        </p>
                        <p class="excerpt">La première fois que tu butes un mec, ce n'est pas facile. Tu as un peu l'impression d'être une chiotte comme Jack l'éventreur. Tu te rappelles ce con au Texas en haut de cette putain de tour et qui flinguait à tout va. Il a bousillé des tas de gens, mais quand il a ajusté sa première silhouette tout en bas, là il n'a pas dû se marrer. Le premier client, c'est vache, je te jure. Le deuxième, ce n'est pas la fête, mais tu te sens déjà moins merdeux. Tu tremblotes encore un peu, c'est d'accord, sauf que c'est un peu plus dilué alors c'est déjà mieux. J'ai dégueulé à mon premier, c'est marrant hein ? Mais le troisième, alors là, c'est du gâteau. Tu travailles peinard, tu n'as plus de problème. Et maintenant, je vais te dire, ça m'amuse de les voir lentement virer au vert.</p>
                        <a href="{{ path('app_single_produits', { "id" :1}) }}" class="read-more-btn">Lire la suite <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="{{ path('app_single_produits', { "id" :1}) }}"><div class="latest-news-bg news-bg-2"></div></a>
                    <div class="news-text-box">
                        <h3><a href="{{ path('app_single_produits', { "id" :1}) }}">En amour, contrairement à la pâtisserie, l'appétit ne se coupe là que pour se creuser fringale ailleurs.
                            </a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Administrateur</span>
                            <span class="date"><i class="fas fa-calendar"></i> 28 Mars, 2022</span>
                        </p>
                        <p class="excerpt">On fait tous au moins des vœux par an, en soufflant les bougies de notre gâteau d'anniversaire. Certains d'entre nous en font plus : pour un cil sur une joue, devant une fontaine, en voyant une étoile filante... et de temps en temps, un de ces vœux se réalise. Et après ? Est-ce que c'est aussi bien qu'on l'espérait ? Est-ce qu'on se laisse aller dans le rayonnement de notre bonheur ? Est-ce qu'on se rend compte qu'on a une longue liste de vœux qui attendent d'être exaucés.</p>
                        <a href="{{ path('app_single_produits', { "id" :1}) }}" class="read-more-btn">Lire la suite <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-latest-news">
                    <a href="{{ path('app_single_produits', { "id" :1}) }}"><div class="latest-news-bg news-bg-3"></div></a>
                    <div class="news-text-box">
                        <h3><a href="{{ path('app_single_produits', { "id" :1}) }}">Une ronde avec une belle peau sucrée, un sourire éclatant et des cheveux soyeux est attirante comme une bonne pâtisserie.</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Administrateur</span>
                            <span class="date"><i class="fas fa-calendar"></i> 08 Avril, 2022</span>
                        </p>
                        <p class="excerpt">Pendant la guerre les pénuries étaient telles qu'on utilisait de la sciure de bois pour remplacer la farine. Un ami menuisier avait donné à mes grands-parents une excellente recette de gâteau.</p>
                        <a href="{{ path('app_single_produits', { "id" :1}) }}" class="read-more-btn">Lire la suite<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="{{ path('app_register') }}" class="boxed-btn">Plus de nouvelles</a>
            </div>
        </div>
    </div>
</div>
<!-- end The Latest news -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="{{ asset('assets1/img/company-logos/1.png') }}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{{ asset('assets1/img/company-logos/2.png') }}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{{ asset('assets1/img/company-logos/3.png') }}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{{ asset('assets1/img/company-logos/4.png') }}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{{ asset('assets1/img/company-logos/5.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->
{% endblock %}