{%extends "base.html.twig"%}
{%block body%}

<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->

<!-- header -->
    <div class="top-header-area" id="sticker">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 text-center">
                    <div class="main-menu-wrap">
                        <!-- logo -->
                        <div class="site-logo">
                            <a href="{{ path('app_home') }}">
                                <img src="{{ asset('assets1/img/logo.png') }}" alt="">
                            </a>
                        </div>
                        <!-- logo -->

                        <!-- menu start -->
                        <nav class="main-menu">
                            <ul>
                                <li class="current-list-item"><a href="{{ path('app_home') }}">Accueil</a>
                                </li>
                                <li><a href="{{ path('app_about') }}">À propos</a></li>
                                <li><a href="{{ path('app_produit') }}">Boutique</a>
                                    <ul class="sub-menu">
                                        <li><a href="{{ path('app_produit') }}">Produit</a></li>
                                        <li><a href="{{ path('app_panier_verifier') }}">Vérifier</a></li>
                                        <li><a href="{{ path('app_single_produits', { "id" :1}) }}">Produit spécial</a></li>
                                        <li><a href="{{ path('app_panier') }}">Panier</a></li>
                                    </ul>
                                <li><a href="{{ path('app_contact') }}">Contact</a></li>
                                <li><a href="{{ path('app_login') }}">Connexion</a>
                                </li>
                                <li>
                                    <div class="header-icons">
                                        <a class="shopping-cart" href="{{ path('app_panier') }}"><i class="fas fa-shopping-cart"></i></a>
                                        <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                        <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                        <div class="mobile-menu"></div>
                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Rechercher pour:</h3>
                        <label>
                            <input type="text" placeholder="Mots clés">
                        </label>
                        <button type="submit">Recherche <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>FRAIS ET BIO</p>
                    <h1>Produits</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        <li class="active" data-filter="*">Tous</li>
                        <li data-filter=".strawberry">Gâteaux</li>
                        <li data-filter=".berry">Petit fours</li>
                        <li data-filter=".lemon">Viennoiseries</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row product-lists">
            {% for produit in produits%}
                <div class="col-lg-4 col-md-6 text-center strawberry">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="{{ path('app_single_produits', { "id" :1}) }}"><img src="../uploads/images/{{produit.image}}" alt=""></a>
                        </div>
                        <h3>{{produit.libelle}}</h3>
                        <p class="product-price"><span>{{produit.format}}</span> {{produit.prix}} </p>
                        <a href="{{ path('app_panier_add', {'id': produit.id }) }}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Ajouter au panier</a>
                    </div>
                </div>
            {%else%}
                <h1 class="card-header">Aucun produits pour le moment</h1>
            {%endfor%}
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end products -->

<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="{{ asset('assets1/img/company-logos/1.png') }}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{{ asset('assets1/img/company-logos/2.png') }}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{{ asset('assets1/img/company-logos/3.png') }}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{{ asset('assets1/img/company-logos/4.png') }}" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="{{ asset('assets1/img/company-logos/5.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->
{% endblock %}