// Colors

$primary-color: #F28123;
$text-color: #ffffff;
$text-color-light: #999999;
$white-color: #fff;
$black-color: #000;

// Fonts

$opensans-font: 'Open Sans', sans-serif;
$poppins-font: 'Poppins', sans-serif;

// Maximum widths

$max-width-s: 576px;
$max-width-m: 992px;
$max-width-l: 1200px;

// Spacing betwenn elements

$space: 1.25rem;