<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>HOUEFFA DELICES</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ asset('assets1/img/favicon.png') }}">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="{{asset('assets1/css/all.min.css')}}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{{asset('assets1/bootstrap/css/bootstrap.min.css')}}">
    <!-- owl carousel -->
    <link rel="stylesheet" href="{{asset('assets1/css/owl.carousel.css')}}">
    <!-- magnific popup -->
    <link rel="stylesheet" href="{{asset('assets1/css/magnific-popup.css')}}">
    <!-- animate css -->
    <link rel="stylesheet" href="{{asset('assets1/css/animate.css')}}">
    <!-- mean menu css -->
    <link rel="stylesheet" href="{{asset('assets1/css/meanmenu.min.css')}}">
    <!-- main style -->
    <link rel="stylesheet" href="{{asset('assets1/css/main.css')}}">
    <!-- responsive -->
    <link rel="stylesheet" href="{{asset('assets1/css/responsive.css')}}">

</head>

    <body>
        {% block body %}{% endblock %}
        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-box about-widget">
                            <h2 class="widget-title">À propos de nous</h2>
                            <p>Car afin que vous aperceviez le moindre pardon, d'où est née toute cette erreur, le plaisir d'accuser et de louer la douleur, j'ouvrirai le tout, et ce qui est.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-box get-in-touch">
                            <h2 class="widget-title">Entrer en contact</h2>
                            <ul>
                                <li>34/8, PDG, Chargée de communication.</li>
                                <li>houeffadelice@gmail.com</li>
                                <li>+229 67 29 67 11</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-box pages">
                            <h2 class="widget-title"><a href="{{ path('app_register') }}">Inscription</a></h2>
                            <p>Inscrivez-vous sur notre site pour ne rien rater de nos différents produits</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-box subscribe">
                            <h2 class="widget-title">S'abonner</h2>
                            <p>Abonnez-vous à notre liste de diffusion pour obtenir les dernières mises à jour.</p>
                            <form action="{{ path('app_home') }}">
                                <label>
                                    <input type="email" placeholder="Email">
                                </label>
                                <button type="submit"><i class="fas fa-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end footer -->

        <!-- copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <p>Copyrights &copy; 2022 - <a href="https://imransdesign.com/">HOUEFFA DELICES</a>,  Tous droits réservés.</p>
                    </div>
                    <div class="col-lg-6 text-right col-md-12">
                        <div class="social-icons">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- jquery -->
        <script src="{{asset('assets1/js/jquery-1.11.3.min.js')}}"></script>
        <!-- bootstrap -->
        <script src="{{asset('assets1/bootstrap/js/bootstrap.min.js')}}"></script>
        <!-- count down -->
        <script src="{{asset('assets1/js/jquery.countdown.js')}}"></script>
        <!-- isotope -->
        <script src="{{asset('assets1/js/jquery.isotope-3.0.6.min.js')}}"></script>
        <!-- waypoints -->
        <script src="{{asset('assets1/js/waypoints.js')}}"></script>
        <!-- owl carousel -->
        <script src="{{asset('assets1/js/owl.carousel.min.js')}}"></script>
        <!-- magnific popup -->
        <script src="{{asset('assets1/js/jquery.magnific-popup.min.js')}}"></script>
        <!-- mean menu -->
        <script src="{{asset('assets1/js/jquery.meanmenu.min.js')}}"></script>
        <!-- sticker js -->
        <script src="{{asset('assets1/js/sticker.js')}}"></script>
        <!-- main js -->
        <script src="{{asset('assets1/js/main.js')}}"></script>

    </body>
</html>
