<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Inscription</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="../assets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>

<div class="wrapper" style="background-image: url('{{ asset('../assets/images/Chocola6.jpg') }}');">
    <div class="inner">
        <form method="post">
            <h3>Formulaire d'inscription</h3>
            <div class="form-group">
                <div class="form-wrapper">
                    <label for="">Noms:</label>
                    <div class="form-holder">
                        <i class="zmdi zmdi-account-o"></i>
                        {{ form_widget(form.Noms,{ "attr" : {"class":"form-control"} }) }}
                        {{form_row(form._token)}}
                    </div>
                </div>
                <div class="form-wrapper">
                    <label for="">Prénoms:</label>
                    <div class="form-holder">
                        <i class="zmdi zmdi-account-o"></i>
                        {{ form_widget(form.Prenoms,{ "attr" : {"class":"form-control"} }) }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-wrapper">
                    <label for="">Téléphone:</label>
                    <div class="form-holder">
                        <i class="zmdi zmdi-phone"></i>
                        {{ form_widget(form.Telephone,{ "attr" : {"class":"form-control"} }) }}
                    </div>
                </div>
                <div class="form-wrapper">
                    <label for="">Email:</label>
                    <div class="form-holder">
                        <i style="font-style: normal; font-size: 15px;">@</i>
                        {{ form_widget(form.email,{ "attr" : {"class":"form-control"} }) }}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-wrapper">
                    <label for="">Mot de passe:</label>
                    <div class="form-holder">
                        <i class="zmdi zmdi-lock-outline"></i>
                        {{ form_widget(form.password,{ "attr" : {"class":"form-control"} }) }}
                    </div>
                </div>
                <div class="form-wrapper">
                    <label for="">Confirmer le mot de passe:</label>
                    <div class="form-holder">
                        <i class="zmdi zmdi-lock-outline"></i>
                        <label>
                            <input type="password" class="form-control" placeholder="********">
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-wrapper">
                    <label for="">Ville:</label>
                    <div class="form-holder">
                        {{ form_widget(form.Ville,{ "attr" : {"class":"form-control"} }) }}
                        <i class="zmdi zmdi-city"></i>
                    </div>
                </div>
                <div class="form-wrapper">
                    <label for="">Sexe:</label>
                    <div class="form-holder select">
                        {{ form_widget(form.Sexe,{ "attr" : {"class":"form-control"} }) }}
                        <i class="zmdi zmdi-face"></i>
                    </div>
                </div>
            </div>
            <div class="form-wrapper">
                <label for="">Fonctions:</label>
                <div class="form-holder select">
                    {{ form_widget(form.Roles,{ "attr" : {"class":"form-control"} }) }}
                    <i class="zmdi zmdi-face"></i>
                </div>
            </div>
            <div class="form-end">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> J'accepte les conditions d'utilisation et la politique de confidentialité.
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="button-holder">
                    <button>Valider</button>
                </div>

            </div>
        </form>
    </div>
</div>

</body><!--End -->
</html>
