<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Panier</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets1/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="assets1/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="assets1/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="assets1/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="assets1/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="assets1/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="assets1/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="assets1/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="assets1/css/responsive.css">

</head>
<body>

<!--PreLoader-->
<div class="loader">
	<div class="loader-inner">
		<div class="circle"></div>
	</div>
</div>
<!--PreLoader Ends-->

<!-- header -->
<div class="top-header-area" id="sticker">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 text-center">
				<div class="main-menu-wrap">
					<!-- logo -->
					<div class="site-logo">
						<a href="index.html">
							<img src="assets1/img/logo.png" alt="">
						</a>
					</div>
					<!-- logo -->

					<!-- menu start -->
					<nav class="main-menu">
						<ul>
							<li class="current-list-item"><a href="#">Accueil</a>
								<ul class="sub-menu">
									<li><a href="index.html">Accueil</a></li>
								</ul>
							</li>
							<li><a href="about.html">À propos</a></li>
							<li><a href="#">Pages</a>
								<ul class="sub-menu">
									<li><a href="about.html">À propos</a></li>
									<li><a href="cart.html">Panier</a></li>
									<li><a href="checkout.html">Vérifier</a></li>
									<li><a href="news.html">Nouveau</a></li>
									<li><a href="shop.html">Produits</a></li>
								</ul>
							</li>
							<li><a href="news.html">Nouveau</a>
								<ul class="sub-menu">
									<li><a href="news.html.twig">Nouveau</a></li>
									<li><a href="single-news.html.twig">Nouveaux articles</a></li>
								</ul>
							</li>
							<li><a href="contact.html.twig">Contact</a></li>
							<li><a href="shop.html.twig">Boutique</a>
								<ul class="sub-menu">
									<li><a href="shop.html">Produit</a></li>
									<li><a href="checkout.html">Vérifier</a></li>
									<li><a href="single-product.html">Single Product</a></li>
									<li><a href="cart.html">Panier</a></li>
								</ul>
							</li>
							<li>
								<div class="header-icons">
									<a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
									<a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
								</div>
							</li>
						</ul>
					</nav>
					<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
					<div class="mobile-menu"></div>
					<!-- menu end -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end header -->

<!-- search area -->
<div class="search-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<span class="close-btn"><i class="fas fa-window-close"></i></span>
				<div class="search-bar">
					<div class="search-bar-tablecell">
						<h3>Rechercher pour:</h3>
						<label>
							<input type="text" placeholder="Mots clés">
						</label>
						<button type="submit">Recherche <i class="fas fa-search"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>FRAIS ET BIO</p>
						<h1>Produits</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                            <li class="active" data-filter="*">Tous</li>
                            <li data-filter=".strawberry">Cake</li>
                            <li data-filter=".berry">Berry</li>
                            <li data-filter=".lemon">Lemon</li>
                        </ul>
                    </div>
                </div>
            </div>

			<div class="row product-lists">
				<div class="col-lg-4 col-md-6 text-center strawberry">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets1/img/products/product-img-1.jpg" alt=""></a>
						</div>
						<h3>Strawberry</h3>
						<p class="product-price"><span>Per Kg</span> 85$ </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>




				<div class="col-lg-4 col-md-6 text-center strawberry">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets1/img/products/product-img-1.jpg" alt=""></a>
						</div>
						<h3>Strawberry1</h3>
						<p class="product-price"><span>Per Kg</span> 185$ </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>


				<div class="col-lg-4 col-md-6 text-center berry">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets1/img/products/product-img-2.jpg" alt=""></a>
						</div>
						<h3>Berry</h3>
						<p class="product-price"><span>Per Kg</span> 70$ </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center lemon">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets1/img/products/product-img-3.jpg" alt=""></a>
						</div>
						<h3>Lemon</h3>
						<p class="product-price"><span>Per Kg</span> 35$ </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets1/img/products/product-img-4.jpg" alt=""></a>
						</div>
						<h3>Avocado</h3>
						<p class="product-price"><span>Per Kg</span> 50$ </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets1/img/products/product-img-5.jpg" alt=""></a>
						</div>
						<h3>Green Apple</h3>
						<p class="product-price"><span>Per Kg</span> 45$ </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 text-center strawberry">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets1/img/products/product-img-6.jpg" alt=""></a>
						</div>
						<h3>Strawberry</h3>
						<p class="product-price"><span>Per Kg</span> 80$ </p>
						<a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="pagination-wrap">
						<ul>
							<li><a href="#">Prev</a></li>
							<li><a href="#">1</a></li>
							<li><a class="active" href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">Next</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end products -->

	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="assets1/img/company-logos/1.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets1/img/company-logos/2.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets1/img/company-logos/3.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets1/img/company-logos/4.png" alt="">
						</div>
						<div class="single-logo-item">
							<img src="assets1/img/company-logos/5.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

<!-- footer -->
<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-box about-widget">
					<h2 class="widget-title">À propos de nous</h2>
					<p>Car afin que vous aperceviez le moindre pardon, d'où est née toute cette erreur, le plaisir d'accuser et de louer la douleur, j'ouvrirai le tout, et ce qui est.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box get-in-touch">
					<h2 class="widget-title">Entrer en contact</h2>
					<ul>
						<li>34/8, PDG, Chargée de communication.</li>
						<li>houeffadelice@gmail.com</li>
						<li>+229 67 29 67 11</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box pages">
					<h2 class="widget-title">Pages</h2>
					<ul>
						<li><a href="index.html">Accueil</a></li>
						<li><a href="about.html">À propos</a></li>
						<li><a href="cart.html">Panier</a></li>
						<li><a href="news.html">Nouveau</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box subscribe">
					<h2 class="widget-title">S'abonner</h2>
					<p>Abonnez-vous à notre liste de diffusion pour obtenir les dernières mises à jour.</p>
					<form action="index.html">
						<label>
							<input type="email" placeholder="Email">
						</label>
						<button type="submit"><i class="fas fa-paper-plane"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<p>Copyrights &copy; 2022 - <a href="https://imransdesign.com/">HOUEFFA DELICES</a>,  Tous droits réservés.</p>
			</div>
			<div class="col-lg-6 text-right col-md-12">
				<div class="social-icons">
					<ul>
						<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
						<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end copyright -->

<!-- jquery -->
<script src="assets1/js/jquery-1.11.3.min.js"></script>
<!-- bootstrap -->
<script src="assets1/bootstrap/js/bootstrap.min.js"></script>
<!-- count down -->
<script src="assets1/js/jquery.countdown.js"></script>
<!-- isotope -->
<script src="assets1/js/jquery.isotope-3.0.6.min.js"></script>
<!-- waypoints -->
<script src="assets1/js/waypoints.js"></script>
<!-- owl carousel -->
<script src="assets1/js/owl.carousel.min.js"></script>
<!-- magnific popup -->
<script src="assets1/js/jquery.magnific-popup.min.js"></script>
<!-- mean menu -->
<script src="assets1/js/jquery.meanmenu.min.js"></script>
<!-- sticker js -->
<script src="assets1/js/sticker.js"></script>
<!-- main js -->
<script src="assets1/js/main.js"></script>

</body>
</html>